@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&family=Varela+Round&display=swap');


body {
    background-color: aliceblue;
}


* {
    margin: 0;
    padding: 0;
}


nav {
    font-family: 'Smooch Sans';
}


nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 66px;
    background-color: black;
    color: white;
}


nav ul li {
    padding: 0 12px;
}


.brand img {
    width: 65px;
    padding: 0 8px;
}


.brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}


.container {
    min-height: 65vh;
    background-color: black;
    color: aliceblue;
    font-family: 'Varela Round', 'Smooch-Sans';
    display: flex;
    width: 64%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('background.jpg');
}


.bottom {
    position: sticky;
    height: 85px;
    background-color: black;
    color: aliceblue;
    bottom: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.icons {
    margin-top: 15px;
}


.icons i {
    cursor: pointer;
}


#myProgressBar {
    width: 125vh;
}


.songItem {
    height: 70px;
    display: flex;
    background-color: aliceblue;
    width: 250%;
    color: black;
    margin: 18px 0;
}


.songItem {
    width: 43px;
    margin: 0 23px;
    color: aliceblue;
}

